body{
    background-color: #F0F0F0;
    font-family: 'Roboto',serif;
}

a{
    text-decoration: none;   
}

hr{
    border: 1px solid black;
}

h2{
    font-size: 1.7rem;
    font-weight: 600;
}

h3{
    font-size: 1.3rem;
    font-weight: 500;
}

li i, h4{
    font-size: 1.1rem;
    font-weight: 400;
}

ul{
    padding-left: 5px;
}

#lista-experiencia li{
    list-style: circle;
}

#header-content{
    justify-content: center;
    text-align: center;
    color:rgba(255,255,255,0.8);
}

#header-content img{
    border-radius: 50%;
    width: 40%;
    padding: 0;
    margin: 0;
    border: 6px solid #ffffff;
    background-size: cover;
    background-repeat: no-repeat;
}

#header-content h1{
    font-size: 1.4rem;
}

#contact a{
    color: black; 
}

#java-skill .progress-bar{
    background-color: #f89820;
}
#python-skill .progress-bar{
    background-color: #4B8BBE;
}
#ingles-skill .progress-bar{
    background-color: #F73A03 ;
}

#csharp-skill .progress-bar{
    background-color: 	#8A2BE2;
}

.seccion{
    background-color: aliceblue;
    border: 1px solid #000;
    color: #373D3F;
    padding: 0.5rem 0.5rem;
    margin-top: 0.5rem;
}

.btn-circle{
    border-radius: 50%;
    font-size: 1.3rem;
    width: 45px;
    height: 45px;
}

.btn-section{
    border: 1px solid #000;
}

.btn-section a{
    color: black;
}

.header{
background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('../Imágenes/Forest.jpg');
width: 100%;
height: auto;
background-size: cover;
background-repeat: no-repeat;
}
